.DS_Store
.idea
.gradle
grafana.db
build
.classpath.sh
/tmp
.settings
.classpath
.project
*.jks
/applications/stores/*
/applications-sasl/stores/*

/cluster-sasl/certificates/secrets/*
/cluster-sasl/secrets/*.jks
/cluster-sasl/secrets/kafka.key

target

/statestore-ui/node_modules
