.DS_Store
.idea
.gradle
grafana.db
build
.classpath.sh
/tmp
.settings
.classpath
.project
/applications/stores/*

/cluster-sasl/certificates/secrets/*
/cluster-sasl/secrets/*.jks
/cluster-sasl/secrets/kafka.key

/statestore-ui/node_modules
