<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n</pattern>-->
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="org.apache.kafka.clients.consumer" level="INFO"/>
    <logger name="org.apache.kafka.clients.producer" level="INFO"/>
    <logger name="org.apache.kafka.clients.consumer.internals" level="WARN"/>
    <logger name="org.apache.kafka.clients.producer.internals" level="WARN"/>

    <logger name="org.apache.kafka.streams.kstream.internals" level="TRACE"/>
    <logger name="org.apache.kafka.streams.processor.internals.ProcessorStateManager" level="DEBUG"/>

    <logger name="io.kineticedge" level="DEBUG"/>

    <logger name="io.micrometer.prometheusmetrics.PrometheusMeterRegistry" level="DEBUG"/>
    <logger name="io.micrometer.core.instrument.MeterRegistry" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>